/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "Eina";
		font-style: normal;
		font-weight: 400;
		src: url("./assets/fonts/Eina01-Regular.woff") format("woff");
	}
	@font-face {
		font-family: "Eina";
		font-style: semibold;
		font-weight: 600;
		src: url("./assets/fonts/Eina01-SemiBold.woff") format("woff");
	}
	@font-face {
		font-family: "Eina";
		font-style: bold;
		font-weight: 700;
		src: url("./assets/fonts/Eina01-Bold.woff") format("woff");
	}
}
